*,*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size:  10 px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.wrapper{
    /* overflow-y: hidden; */
    width: 100vw;
    height: 100vh;
    position: relative;
   
}


.header{
border: 1px solid black;
padding: 1rem 10rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.main-logo{
    width: 10rem;
}

.header ul{
    display: flex;
    justify-content: center; 
     align-items: center;
     gap: 5rem;
    list-style: none;
    font-size: 1.2rem;
}

.resImg{
    width: 10rem
}
.body{
    max-width:85%;
    margin: 0 auto;
padding-top: 2rem;
}
.body .resContainer{
   margin-top: 2rem;
    display: flex;
     flex-wrap: wrap;
     gap: 4rem;
   
}

.resinfo{
width: 16rem;
height: 20rem;

border-radius: 2rem;
color: black;

/* border: 1px solid black; */

}
.resinfo img{
width:100%;
height: 60%;
border-radius: 2rem;

    }

    .resinfo  h2,h3,p{
        margin-left: 0.5rem;
       
    }
    .resinfo  p{
        margin-left: 0.5rem;
       font-size: 0.9rem;
    }


    .body .search-section input{
        padding: 0.5rem ; 
        margin-right: 1rem;
        font-size: 1.2rem;

    }
    .body .search-section button{
        font-size: 1.2rem;
        padding: 0.4rem 0.8rem;
        border: none;
        border-radius: 1rem;
    }

    .box{
        background:#ded7d7;
        width: 16rem;
        height: 16rem;
        border-radius: 2rem;
    }
    .shimmer-ring {
        background-color: #b4acac;
            }
            .header ul button{
                font-size: 1.2rem;
                background: #008d81;
                color:  white;
                font-weight: bold;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 1rem;
            }
        .sameBtn{
            font-size: 1.2rem;
            background: #008d81;
            color:  white;
            font-weight: bold;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 1rem; 
            margin-right: 1rem;
        }

        .shimmer{
            
            
                margin-top: 8rem;
                margin-left: 8rem;
                 display: flex;
                  flex-wrap: wrap;
                  gap: 4rem;
                
             
        }
        .menu{
            width: 50%;
            margin: 2rem auto;


        }
        .resMenu-nav{
            display: flex;
            justify-content: start;
            align-items: center;
        }
        .resMenu-nav-Link{
            font-size: 0.8rem;
            color: #b4acac;
            text-decoration: none;
            
            cursor: pointer;
        }

      .resMenu-nav-Link:hover{
        color: #292727;
        font-size: 0.9rem;
      }
      .link{
    text-decoration: none;
      }

   .resInfo-box{
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 7px 7px 12px black,-2px -2px 7px black;
    border: 1px solid black;
   }

   .cuisine-info{
  color: #ff5200;
  font-size: 0.9rem;
  font-weight: bold;
   }